
body { background-color: #000000; color: #6495ED; font-family: monospace; }
h1 { color: #4682B4; text-align: center; font-size: 32px; }
h2 { color: #6495ED; border-bottom: 1px solid #1E90FF; }
.natacion { color: #00e5ff; text-transform: uppercase; }
a { color: #00e5ff; text-decoration: none; }
a:hover { color: #6F5DA8; text-decoration: underline; }
img { max-width: 100%; height: auto; border: 2px solid #0000CD; border-radius: 8px; display: block; margin: 20px auto; }
